.blogdetails-page{
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 150px;

}
.blog-container {
    width: 450px;
    padding: 20px;
    border:  1px solid black;
    border: 1px solid #3c3c3c; /* Slightly lighter border for subtle definition */
    box-shadow: 6px 6px 15px #1c1c1c, -6px -6px 8px #302f2f; /* Neumorphic shadow for dark theme */

}
.title-container {
    display: flex;
}

.blog-box{
    padding: 12px;
    margin: 10px;
    border: 1px solid black;
    border: 1px solid #3c3c3c; /* Slightly lighter border for subtle definition */
    box-shadow: 6px 6px 15px #1c1c1c, -6px -6px 8px #302f2f; /* Neumorphic shadow for dark theme */
    transition: box-shadow 0.3s ease-in-out; 
}

.new-title{
    background: linear-gradient(90deg, #ff69b4, #8a2be2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.blog-title {
    background: linear-gradient(90deg, #ff69b4, #8a2be2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    color: white;
    margin-top: 10px;
    
}