.blog-page {
    display: flex;
    justify-content: center;
    align-items: center; /* Align items to the top to allow text to expand */
    flex-direction: column; 
    min-height: 100vh;
    padding-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    overflow: auto; /* Allow the page to scroll if content overflows */
}
.topic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    width: 600px;
}
.topic-title {
    font-size: 30px;
    background: linear-gradient(90deg, #ff69b4, #8a2be2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px; 
}

.topic-text {
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 700px; 
    height:auto;
    padding-bottom: 200px;
    
    padding: 20px;
    display: block; 
    word-wrap: break-word; 
}

p {
    color: white;
    line-height: 1.6; 
    margin: 0;
}
