* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.logo-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 200px;
    padding-top: 15px;
    height: 50px;
}

.img-inside {
    object-fit: contain;
}

.navbar {
    background-color:  #2e2e2e;
    border: 1px solid #3c3c3c; /* Slightly lighter border for subtle definition */
    box-shadow: 6px 6px 15px #1c1c1c, -6px -6px 8px #302f2f;
    
    box-shadow: #2C2F33;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem 2rem;
    margin: 30px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

.nav-links.open {
    display: block;
}

.nav-links li {
    margin-right: 20px;
}

.menu-icon {
    cursor: pointer;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
}

.bar {
    background-color: black;
    height: 3px;
    width: 25px;
    transition: transform 0.3s ease-in-out;
}

.open .bar:nth-child(1) {
   transform: rotate(-45deg) translate(-5px, 6px);
}

.open .bar:nth-child(2) {
   opacity: 0;
}

.open .bar:nth-child(3) {
   transform: rotate(45deg) translate(-5px,6px);
}

@media (max-width: 600px) {
    .menu-icon {
        display: flex;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: white;
        box-shadow: 0 5px 10px rgba(0,0,0,.1);
        color: black;
        position: absolute;
        top: 100%; 
        left: 0;
        width: 100%;
        padding-left: 20px;
        border-top: 2px solid #fff;
        padding-top: 14px;
    }

    .nav-links li {
        padding-bottom: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-links .open {
        display: flex;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .nav-container {
        flex-direction: row; 
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .nav-links li {
        margin-right: 20px;
    }
}

.nav-content {
    display: flex;
    flex-direction: row;
}

.nav-item {
    position: relative;
    padding: 10px 20px;
    cursor: pointer;
    overflow: hidden;
    font-weight: 500;
    background: linear-gradient(90deg, #ff69b4, #8a2be2); 
    font-weight: 500;/* Pink to Violet gradient */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-item a {
    text-decoration: none;
}

.nav-item a:hover {
    text-decoration: underline;
}

.nav-item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -100%;
    height: 2px;
    width: 100%;
    background: linear-gradient(90deg, #ee1782, #8a2be2); /* Pink to Violet gradient */
    transition: left 0.6s ease-in-out;
}

.nav-item:hover::before {
    left: 0;
}

