.Hero {
  margin-top: 10px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:  #232528;;
}



.login-section {
  background:  #232528;;
}

.signup-section {
  margin-top: 30px;
  background:  #232528;;
}

.blog-section {
  width: 100%;
  height: 100vh;
  background-color: #282727;
}

.blogdetails-section {
  width: 100%;
  height: 100vh;
  background-color: #282727;
}