.Hero {
  margin-top: 10px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:  #232528;
}

.body {
  height: 100%; 
  background:  #232528;
}



.login-section {
  background:  #232528;;
}

.signup-section {
  margin-top: 35px;
  background:  #232528;;
}

.blog-section {
  width: 100%;
  height: auto;
  background-color: #282727;
  padding-bottom: 20px;
}

.blogdetails-section {
  width: 100%;
  height: 100vh;
  background-color: #282727;
}